.mensaje{

    margin-left: 7em;

}


.tot_ban{
    
    margin-left: 8em;

}

.tot_jug{

    margin-left: 20em;

}

.todo{

    margin-top: 40px;

}

#trasera{

    margin-top: 25px;
    margin-left: 20em;
    width: 200px;
    height: 300px;

}

#trasera2{

    margin-top: 25px;
    margin-left: 30em;
    width: 200px;
    height: 300px;

}